@font-face {
  font-family: Neu;
  src: url(/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: Neu;
  font-weight: 100;
  src: url(/NeueHaasDisplayThin.ttf);
}
@font-face {
  font-family: Neu;
  font-weight: 200;
  src: url(/NeueHaasDisplayRoman.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Neu;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  z-index: 10;
}
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #eeeae2;
  position: relative;
  padding: 0 30px;
}
/************* navber ************/
nav {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMenu {
  display: flex;
  gap: 20px;
}
.navMenu h4 {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.589);
  border-radius: 40px;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.741);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.navMenu h4 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.741);
  z-index: 9;
  position: relative;
  transition: all ease 0.3s;
}
.navMenu h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 60%;
  transition: all ease 0.4s;
}
.navMenu h4:hover::after {
  border-radius: 0;
  bottom: 0;
  color: white;
}
.navMenu h4:hover a {
  color: white;
}
/************* navber ************/

/* ============= HeroSection ============= */
.HeroSection {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid gray;
  padding-bottom: 2.5vw;
  z-index: 1;
}
.HeroSection__left p {
  font-size: 27.648px;
  font-weight: 700;
  line-height: 30.72px;
  color: rgb(0, 0, 0);
}
.HeroSection__left {
  max-width: 400px;
}
.HeroSection__right h1 {
  font-size: 153.6px;
  font-weight: 700;
  line-height: 122.88px;
  color: rgb(0, 0, 0);
  text-align: end;
}
/* ============= HeroSection ============= */
/* ============= Hero shape ============= */
.hero_shape {
  position: absolute;
  width: 46vw;
  height: 36vw;
  right: 0;
  top: 65vh;
  z-index: 2;
}
.shape1 {
  width: 30vw;
  height: 30vw;
  border-radius: 60%;
  background-color: #fe360a;
  filter: blur(30px);
  position: absolute;
  animation-name: anima1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.shape2 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #fe360a;
  filter: blur(30px);
  position: absolute;
  animation-name: anima2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.shape3 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #fe360a;
  filter: blur(30px);
  position: absolute;
  animation-name: anima3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.shape4 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background-color: #fe360a;
  filter: blur(30px);
  position: absolute;
  animation-name: anima4;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes anima1 {
  from {
    transform: translate(-15%, -5%);
  }
  to {
    transform: translate(0%, 10%);
  }
}
@keyframes anima2 {
  from {
    transform: translate(0%, 10%);
  }
  to {
    transform: translate(25%, -5%);
  }
}
@keyframes anima3 {
  from {
    transform: translate(25%, 5%);
  }
  to {
    transform: translate(-20%, 10%);
  }
}
@keyframes anima4 {
  from {
    transform: translate(60%, 10%);
  }
  to {
    transform: translate(70%, 0%);
  }
}

/* ============= Hero shape ============= */
/* ============= videoSection ============= */
.videoSection {
  width: 100%;
  padding: 60px 0;
  z-index: 10;
  position: relative;
}
.videoSection video {
  border-radius: 50px;
  width: 100%;
}
/* ============= videoSection ============= */
/* ============= marqueeSection ============= */
.marqueeSection marquee {
  display: flex;
}
.marqueeSection marquee span {
  font-size: 50px;
  margin: 0 20px;
}
.marqueeSection marquee span::after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: orange;
  right: 0;
  top: 0;
}
/* ============= marqueeSection ============= */

.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #eeeae2;
}
.moving_text {
  padding-top: 70px;
  overflow-x: auto;
  white-space: nowrap;
}
.moving_text::-webkit-scrollbar {
  display: none;
}
.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.moving_text h1 {
  font-size: 9vw;
  display: inline-block;
}
.gola {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: #fe320a;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.page2_bottom {
  min-height: 70vh;
  width: 100%;
  background-color: #eeeae2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  position: relative;
}
.page2_bottom h1 {
  width: 60%;
  font-size: 4vw;
  position: relative;
  z-index: 10;
}
.page2_bottom_right {
  width: 25%;
  margin-top: 20vw;
}
.page2_bottom_right img {
  width: 100%;
  border-radius: 15px;
}
.page2_bottom_right p {
  padding-top: 2vw;
  font-size: 1vw;
  font-weight: 200;
}

.moving_shape {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe320a, #fe7c0a);
  position: absolute;
  top: 45%;
  left: 25%;
  filter: blur(30px);
  animation-name: animation1;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.moving_shape1 {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe7c0a, #fe320a);
  position: absolute;
  filter: blur(20px);
  animation-name: animation0;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes animation0 {
  from {
    transform: translate(5%, -5%) skew(0);
    filter: blur(20px);
  }
  to {
    transform: translate(-5%, 10%) skew(-10deg);
    filter: blur(40px);
  }
}
@keyframes animation1 {
  from {
    transform: translate(10%, -5%) skew(0);
  }
  to {
    transform: translate(-10%, 10%) skew(-10deg);
  }
}

/************************** page 3 *************************/
.page3 {
  min-height: 50vh;
  width: 100%;
  background-color: #eeeae2;
  padding: 4vw 0;
}
.elem {
  height: 150px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  overflow: hidden;
}
.elem_details {
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 55;
}
.elem_details h3 {
  font-weight: 200;
  font-size: 22px;
}
.elem_details p {
  font-weight: 200;
  color: gray;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all linear 0.15s;
}
.elem:hover .overlay {
  top: 0;
}

.fixed__image {
  height: 30vw;
  width: 24vw;
  border-radius: 10px;
  position: fixed;
  z-index: 15;
  left: 50%;
  top: 30%;
  display: none;
  background-size: cover;
  background-position: center;
  /* pointer-events: none; */
}
.page3Bottom__button {
  background: none;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 0.8vw 1.5vw;
  font-size: 20px;
  font-weight: 500;
  margin-left: 2.2vw !important;
  margin: 60px 0;
  position: relative;
  overflow: hidden;
}
.page3Bottom__button span {
  position: relative;
  z-index: 10;
}
.page3Bottom__button::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -100%;
}
.page3Bottom__button:hover .page3Bottom__button__span {
  color: white;
  transition: color linear 0.2s;
}
.page3Bottom__button:hover::after {
  bottom: 0%;
  border-radius: 30px;
  transition: all linear 0.2s;
}
/************************** page 3 *************************/

/************************** page 4 *************************/
.page4 {
  min-height: 80vh;
  width: 100%;
  padding: 8vw 3vw;
  background-color: #eeeae2;
}
.page4title {
  font-size: 1vw;
  margin-bottom: 4vw;
  position: relative;
  padding-left: 25px;
  font-weight: 200;
}
.page3title {
  margin-left: 2vw;
  margin-bottom: 3vw;
}
.page4title::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fe320a;
  content: "";
  left: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.swiper {
  width: 100%;
  height: 100%;
  cursor: grab;
}
.swiper-slide {
  width: 32%;
  height: 16.5vw;
  border-left: 1px solid gray;
}
.swiper__item {
  width: 100%;
  padding: 0 2vw;
}
.swiper__item img {
  width: 10vw;
}
.swiper__item p {
  font-size: 1vw;
  font-weight: 200;
  margin-top: 1vw;
}
/************************** page 4 *************************/

/************************** page 5 *************************/
.page5 {
  min-height: 100vh;
  width: 100%;
  padding: 0 2vw;
  background-color: #eeeae2;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-radius: 30px;
}
.sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-left: 3px solid gray;
}
.tab-button {
  font-size: 4vw;
  padding: 20px;
  margin: 5px 0;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  transition: color 0.3s;
}
.tab-button.active {
  color: white;
  font-weight: bold;
}
#summary-text {
  max-width: 20vw;
  margin-top: 30px;
  font-size: 20px;
  transition: opacity 0.5s ease-in-out;
  color: white;
  font-weight: 100;
}
.content {
  width: 60%;
}
#display-image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: opacity 0.5s ease-in-out;
}
/************************** page 5 *************************/

/************************** page 6 *************************/
.page6 {
  width: 100%;
  min-height: 100vh;
}
/************************** page 6 *************************/

/************************** footer *************************/
.footer {
  position: fixed;
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  color: #eeeae2;
  bottom: 0;
  background-color: black;
}
.footer h1 {
  font-size: 23vw;
  text-align: center;
}
.footerupper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7vw 6vw 0 6vw;
}
.footerupper__menu h2 {
  font-size: 2vw;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 22vw;
}
.email p {
  font-size: 1.4vw;
  font-weight: 200;
  margin-bottom: 20px;
}
.email h6 {
  font-size: 1.1vw;
  color: #bebbb4;
  font-weight: 200;
  padding: 15px 0;
  border-bottom: 1px solid #c0bcb5;
  width: 100%;
}
.footerlower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid gray;
  margin: 0 50px;
  padding: 30px 0;
}
.footerlower h5 {
  font-size: 22px;
  font-weight: 200;
}
.anima_shap {
  width: 130%;
  height: 80vh;
  position: absolute;
  top: -50%;
  left: -20%;
  rotate: 0deg;
  z-index: -33;
}
.anima_shap1 {
  width: 130%;
  height: 80vh;
  background-color: #fe320a;
  filter: blur(80px);
  position: absolute;
  top: -10%;
  left: -5%;
  rotate: 0deg;
  animation-name: animation1;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.anima_shap2 {
  width: 130%;
  height: 80vh;
  background-color: #fe320a;
  filter: blur(80px);
  position: absolute;
  top: -10%;
  left: -20%;
  rotate: 0deg;
  animation-name: animation2;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.anima_shap3 {
  width: 130%;
  height: 80vh;
  border-radius: 50%;
  background-color: #fe320a;
  filter: blur(80px);
  position: absolute;
  top: 0%;
  left: 0%;
  rotate: 0deg;
  animation-name: animation3;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes animation1 {
  from {
    rotate: 15deg;
    transform: translateX(0%);
  }
  to {
    rotate: 35deg;
    transform: translateX(30%);
  }
}
@keyframes animation2 {
  from {
    rotate: -30deg;
    transform: translateX(0%);
  }
  to {
    rotate: -15deg;
    transform: translateX(-30%);
  }
}
@keyframes animation3 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(15%);
  }
}
/************************** footer *************************/
